<%= render 'shared/second-header' %>
<div class="main">
 <div class="sign_up">
<div class="sign_up_title">
<h2>
新規登録
</h2>
</div>

<%= form_with model:@user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
   <%= render "shared/error_messages", model: f.object %>

   <div class="field">
    <%= f.label :ニックネーム %>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    (<%= @minimum_password_length %> 文字以上)
    <% end %>
    <div class="field">
    <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :パスワード（再） %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
 
  <%= link_to 'Googleで新規登録', user_google_oauth2_omniauth_authorize_path, method: :post%>

</div>
</div>
<%= render "shared/footer" %>