  <header>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-1" >Wasureco</span>
      </a>

  </div>
  </header>
<div class="main">
 <div class="sign_up">
<div class="sign_up_title">
<h2>
Sign up
</h2>
</div>

<%= form_with model:@user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
   <%= render "shared/error_messages", model: f.object %>

   <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <div class="field">
    <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

</div>
</div>
<%= render "shared/footer" %>