<% if user_signed_in? && hobby.liked_by?(current_user)  %>
<%=link_to hobby_likes_path(hobby.id), data: { turbo_method: :delete }, remote: true do%> 
<%= image_tag "heart-.png", class:"heart-btn" %>
<div class="count"><%= hobby.likes.count %></div>
<% end %>
<% else %>
<%=link_to hobby_likes_path(hobby.id), data: { turbo_method: :post }, remote: true do%> 
<%= image_tag "heart-pink.png", class:"heart-btn" %>
<div class="count"><%= hobby.likes.count %></div>
<% end %>
<% end %>