<%= render "shared/header" %>
<% breadcrumb :hobby %>
<div class="main">
 <%= form_with model: @hobby, url: hobby_path, class: 'form', local: true do |f| %>
  <%= render "shared/error_messages", model: f.object %>
   <ul class="form-list">
    <li>
    <%= f.label :日付, class: 'lavel' %> <br >
    <%= f.date_field :date, class: 'select' %>
    </li>
    <li>
    <%= f.label :ジャンル, class: 'lavel' %><br >
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select"}) %>
    </li>
    <li>
    <%= f.label :時間, class: 'lavel' %><br >
    <%= f.number_field :time, in: 0.1..20.0, step: 0.1, class:"time-select" %>
    </li>
    <li>
    <%= f.label :コメント, class: 'lavel' %><br >
    <%= f.text_area :activity, class: 'text-input' %>
    </li>
    <%= f.submit '投稿' %>
  </ul>
    <% end %>
  </div>
 
<%= render "shared/footer" %>
