<%= render "shared/header" %>
<% breadcrumb :root, class: "bread" %>
<div class="index-main">
<%= link_to(new_hobby_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿</span>
  <%= image_tag 'post.png' , size: '70x70' ,class: "purchase-btn-icon" %>
<% end %>

<div class="contents">
<% @hobby.each do |hobby| %>
<%= link_to hobby_path(hobby) do %>
<div class="item">
<h3 class="date">
<%= hobby.date %>
</h3>
<% end %>
<div class="genre <%= "genre-#{hobby.genre.id}" %>">
<%= hobby.genre.name %>
</div>
<p class="time">
<%= hobby.time %>
</p>
<div class="activity">気付き</div>
<p class="activity">
<%= hobby.activity %>
</p>
<div class="heart">
<div id="like-btn<%= hobby.id %>">
<%= render partial: "likes/like", locals:{ hobby: hobby } %>
</div>
</div>
</div>
<% end %>
</div>

</div>
<%= render "shared/footer" %>

