<%= render "shared/header" %>
<% breadcrumb :root, class: "bread" %>

<div class="index-main">

  <div class="main-contents">

    <%= link_to(new_hobby_path, class: 'purchase-btn') do %>
      <span class='purchase-btn-text'>投稿</span>
      <%= image_tag 'star-.png', size: '50x50', class: "purchase-btn-icon" %>
    <% end %>

    <div class="calendar-content">
      <%= month_calendar do |date| %>
        <div class="date">
          <%= date.day %>
        </div>

        <% hobbies_for_date = @hobby.select { |h| h.date == date } %>
        <% hobbies_for_date.each do |hobby| %>
          <% if user_signed_in? && current_user.id == hobby.user.id %>
            <div class="item">
              <%= link_to hobby_path(hobby) do %>
                <div class="genre <%= "genre-#{hobby.genre.id}" %>">
                  <%= hobby.genre.name %>
                </div>
              <% end %>

              <div class="time">
                <%= hobby.time %>h
              </div>
              <p class="activity">
                <%= hobby.activity %>
              </p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <% @genre_total_times_by_year_and_month.each do |year, month_data| %>
        <div class="year">
          <h2><%= year %>年</h2>
        </div>
        <div class="genre-total-times">
          <% month_data.each do |month, genre_data| %>
            <div class="time-content">
              <h3><%= month %>月</h3>
              <div class="genre-total-time">
                <% genre_data.sort_by { |_, data| data[:genre].display_order }.each do |genre_id, data| %>
                  <div class="genre-item">
                    <div class="genre <%= "genre-#{genre_id}" %>">
                      <%= data[:genre].name %>: <%= data[:total_time] %>h<br>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
