<%= render 'shared/header' %>
<% breadcrumb :hobbies %>

<div class="posts-main">
 <div class="content-title">
    <h2>  
      投稿内容
    </h2>
  </div>
  <div class="show-contents">
    <div class="show-item">
      <h3 class="show-date">
        <%= @hobby.date %>
      </h3>
      <div class="genre <%= "genre-#{@hobby.genre.id}" %>">
        <%= @hobby.genre.name %>
      </div>
      <div class="show-time">
        <%= @hobby.time %>h
      </div>
      <div class="show-activity">      
        <%= @hobby.activity %>
      </div>
    </div>
     <div class="show-btn">
        <%= link_to '編集', edit_hobby_path, method: :get, class: "edit-btn" %>
        <%= link_to '削除', hobby_path(@hobby.id), data: { turbo_method: :delete }, class: "destroy-btn" %>
      </div>
  </div>
</div>

<%= render "shared/footer" %>
