<!DOCTYPE html>
<html>
  <head>
    <title>わすレコ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag('re.ico')%>
    <link href="<%= image_path("apple.touch.png") %>" rel="apple-touch-icon" sizes="180x180" type="image/png" />
    <link href="<%= image_path("apple.touch.png") %>" rel="icon" sizes="192x192" type="image/png" />
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <%= breadcrumbs separator: " &rsaquo; " %>   
    <%= yield %>
  </body>
</html>
